--extra-index-url https://download.pytorch.org/whl/cpu
absl-py==2.3.1
annotated-types==0.7.0
attrs==23.1.0
box2d-py==2.3.5
certifi==2025.10.5
charset-normalizer==3.4.4
chex==0.1.90
click==8.1.8
cloudpickle==3.1.2
contourpy==1.2.1
cycler==0.12.1
decorator==5.2.1
dm-env==1.6
dm-tree==0.1.8
dm_control==1.0.34
equinox==0.11.3
etils==1.5.2
eval_type_backport==0.2.2
Farama-Notifications==0.0.4
filelock==3.19.1
flax==0.8.5
fonttools==4.60.1
fsspec==2025.10.0
gast==0.7.0
gitdb==4.0.12
GitPython==3.1.45
glfw==2.10.0
google-vizier==0.1.18
googleapis-common-protos==1.72.0
greenlet==3.2.4
grpcio==1.78.0
grpcio-tools==1.78.0
gymnasium==1.1.1
h5py==3.14.0
humanize==4.13.0
idna==3.11
ImageIO==2.37.2
importlib_metadata==8.7.0
importlib_resources==6.5.2
jax==0.4.30
jaxlib==0.4.30
jaxopt==0.8.5
jaxtyping==0.2.36
Jinja2==3.1.6
kiwisolver==1.4.7
labmaze==1.0.6
lxml==6.0.2
markdown-it-py==3.0.0
MarkupSafe==3.0.3
matplotlib==3.9.4
mdurl==0.1.2
ml_dtypes==0.5.4
mpmath==1.3.0
msgpack==1.1.2
mujoco==3.3.7
nest-asyncio==1.6.0
networkx==3.2.1
numpy==1.26.4
opt_einsum==3.4.0
optax==0.2.4
orbax-checkpoint==0.6.4
packaging==25.0
pandas==1.5.1
pillow==11.3.0
platformdirs==4.4.0
portpicker==1.6.0
protobuf==6.33.0
psutil==7.2.2
pydantic==2.12.3
pydantic_core==2.41.4
pygame==2.6.1
Pygments==2.19.2
PyOpenGL==3.1.10
pyparsing==3.2.5
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
requests==2.32.5
rich==14.3.2
scipy==1.13.1
seaborn==0.13.0
sentry-sdk==2.43.0
Shimmy==2.0.0
six==1.17.0
smmap==5.0.2
SQLAlchemy==2.0.46
swig==4.3.1
sympy==1.14.0
tensorstore==0.1.69
tfp-nightly==0.26.0.dev20260216
toolz==1.1.0
torch==2.8.0+cpu
tqdm==4.67.1
typeguard==2.13.3
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.5.0
wandb==0.22.3
zipp==3.23.0
